* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

html {
  min-width: 100%;
}

h1 {
  font-family: "Raleway", sans-serif;
}

.lead {
  font: 20px serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background-color: #3d5a80;
}
.home-jumbo,
.course-jumbo {
  height: 50vh;
  align-items: center;
  color: black;
  background: url("../images/jumbobg.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .transbox {
    min-height: 200px !important;
  }
}

@media only screen and (max-width: 900px) {
  .transbox {
    min-height: 100px;
  }
}

.transbox {
  max-width: 550px;
  max-height: 175px;
  margin: 25px auto;
  padding-top: 15px;
  background-color: #3d5a80;
  border: 1px solid black;
  opacity: 0.9;
  color: white;
  font-weight: bolder;
}

.book-now-button {
  display: inline-block;
  border: 2px solid #333333;
  border-radius: auto;
  background: #ffffff;
  position: relative;
  color: #333;
}

.sketchy {
  display: inline-block;
  border: 3px solid #333333;
  border-radius: auto;
  background: #ffffff;
  position: relative;
}

.card {
  border: 2px solid #333333;
  border-radius: auto;
}

.card-footer {
  border-top: 2px solid #333333;
  border-radius: auto;
}

.selectButton,
.editButton,
.deleteButton,
.submitButton,
.editProfile {
  background: #fff;
  border-radius: 10px;
  color: #333;
}

.submitButton {
  border: 2px solid #333;
}

.selectButton:hover {
  background: #ffffff;
  position: relative;
  color: #fff;
  background-color: #3d5a80;
}

.logIn:hover,
.register:hover,
.enrollCourse:hover,
.editProfile:hover,
.submitButton:hover,
#enrollButton:hover {
  display: inline-block;
  border: 2px solid #333333;
  border-radius: auto;
  background: #ffffff;
  position: relative;
  color: #fff;
  background-color: #3d5a80;
}

#enrollButton {
  border: 2px solid #333;
  border-radius: auto;
  background-color: #fff;
  color: #333;
}

.footer {
  clear: both;
  position: relative;
  text-align: center;
  background-color: #3d5a80;
}

.addCourse,
.logIn,
.register,
.enrollCourse {
  border: 2px solid #333333;
  border-radius: auto;
}
.addCourse:hover {
  border: 2px solid #333333;
  border-radius: auto;
  color: #fff;
  background-color: #3d5a80;
}

.courseSubject,
.editProfile,
.userProfile {
  border: 2px solid #333333;
  border-radius: auto;
}

.loginContainer,
.registerContainer,
.profileContainer,
.editProfileContainer,
.addCourseContainer,
.editContainer,
.courseContainer {
  min-height: 78vh;
}

.container-fluid {
  background-color: #e7e7e7;
}

.course-card {
  height: 310px;
}
